body {
  background: $darker;
  color: $text-color-light;
  font-family: "Montserrat", sans-serif;
}

.btn {
  &.btn-primary {
    background-color: $prim-button;
    border-color: $prim-button;
    &:hover {
      background-color: #af8cfa;
      border-color: #af8cfa;
    }
  }
}
